extends ../layouts/common.pug
block content
    nav.navbar.navbar-expand-sm.bg-dark.navbar-light.shadow.p-3.header
        a.navbar-brand.navHome(href='../' style="display:none") Home
        button.navbar-toggler.mr-2(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
            span.navbar-toggler-icon
        #collapsibleNavbar.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item.navHome-1
                    a.nav-link(href='../') HOME
                li.nav-item
                    a.nav-link(href='../users') USERS
                li.nav-item
                    a.nav-link(href='users/create') NEW USER
                li.nav-item
                    a.nav-link.active(href='./products') PRODUCTS
                li.nav-item
                    a.nav-link(href='./products/cart') CART
                        span.badge.badge-dark.ml-1 #{amount}

    .h1.h1Product.m-5 PRODUCTS
    .row.ml-5.mr-5.products
        each prod in prods
                .col-12.col-sm-6.col-md-4.col-lg-3
                    .card.mb-3
                        img.card-img-top(src= prod.image)
                        .card-body
                            h4.card-title.pl-2= prod.name
                            p.card-text.pl-2= prod.description
                            b.card-text.pl-2 Price: #{prod.price}
                            br
                            a.btn.btn-primary.ml-2.mt-2(href='/products/cart/add/' + prod.id) Add to cart
    .container
        ul.pagination.justify-content-center
            if (page - 1) > 0
                li.page-item
                    a.page-link(href='/products' + '?page=' + (page - 1)) Previous
            li.page-item.active
                a.page-link(href='#') #{page}
            if (page + 1) < 4
                li.page-item
                    a.page-link(href='/products' + '?page=' + (page + 1)) #{page + 1}
            if (page + 2) < 4
                li.page-item
                    a.page-link(href='/products' + '?page=' + (page + 2)) #{page + 2}
            if (page + 1) < 4
                li.page-item
                    a.page-link(href='/products' + '?page=' + (page + 1)) Next

