extends ../layouts/common.pug
block content
    nav.navbar.navbar-expand-sm.bg-dark.navbar-light.shadow.p-3.header
        a.navbar-brand.navHome(href='./' style="display:none") Home
        button.navbar-toggler.mr-2(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
            span.navbar-toggler-icon
        #collapsibleNavbar.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item.navHome-1
                    a.nav-link(href='../../') HOME
                li.nav-item
                    a.nav-link(href='/users') USERS
                li.nav-item
                    a.nav-link(href='../create') NEW USER
                li.nav-item
                    a.nav-link(href='../../products') PRODUCTS
    h1.ml-3 Update Profile
    if error 
        .alert.alert-danger= error
    form(method="post")
        .form-group(class="col-4")
            label(for='name') Name
            input#name.form-control(type="text" name="name" value=users.name)
        .form-group(class="col-4")
            label(for='phone') Phone
            input#phone.form-control(type="text" name="phone" value=users.phone)
        .form-group(class="col-4")
            label(for='address') Address
            input#phone.form-control(type="text" name="address" value=users.address)
        .form-group(class="col-4")
            label(for='grade') Grade
            input#phone.form-control(type="text" name="grade" value=users.grade)
        button.btn.btn-success(type='submit' class="ml-3") Accept
    form(action='/users/delete/' + users.id method="post")
        button.btn.btn-danger(type='submit' class="ml-3") Delete User
    